
<LanguageTrackProvider OnInitializeEvent="provider => provider.RegisterComponent(this)" />


<div class="footer-body">


    <!-- Footer  -->


    <section class="curved-section">
        <img src="Imgs/DALL·E-2024-10-10-15.26.jpg" alt="Stadium Background">
        <div class="content">
            <div class="logo" style="margin-top: 257px;margin-bottom:20px">
               
                <img src="logos/LogoDarkMode.png" class="mud-image object-fill object-center" style="height:70px;width:auto;position:relative">
            </div>
            <div class="description" style="margin-top:50px;">
                @Resource.footerContent
            </div>
            <div class="social-icons" >
                <MudLink Href="https://x.com/happyapp_sa?s=11&t=ZonIqtyk9Ofg8V1BAUhbcjvD0260m8biSFlYBDcgPz0" Target="_blank" Underline="Underline.None" class="pe-3 ps-3">
                    <MudIcon Icon="@Icons.Custom.Brands.X" Color="Color.Tertiary"/>
                </MudLink>
                <MudLink Href="https://www.facebook.com/share/sXgYFPjVskHr1wfq/?mibextid=LQQJ4d" Target="_blank" Underline="Underline.None" class="pe-3 ps-3">
                    <MudIcon Icon="@Icons.Custom.Brands.Facebook" Color="Color.Tertiary"/>
                </MudLink>
                <MudLink Href="https://www.instagram.com/happyapp.sa?igsh=N3dyOHBjMHdkMXR1" Target="_blank" Underline="Underline.None" class="pe-3 ps-3">
                    <MudIcon Icon="@Icons.Custom.Brands.Instagram" Color="Color.Tertiary"/>
                </MudLink>
                <MudLink Href="@("https://www.tiktok.com/@happyapp.sa?_t=8oz8vidJmyn&_r=1")" Target="_blank" Underline="Underline.None" class="pe-3 ps-3">
                    <MudIcon Icon="@Icons.Custom.Brands.TikTok" Color="Color.Tertiary"/>
                </MudLink>
                <MudLink Href="@("mailto:Happy@ticketshappy.com")" Target="_blank" Underline="Underline.None" class="pe-3 ps-3">
                    <MudIcon Icon="@Icons.Custom.Brands.Gmail" Color="Color.Tertiary"/>
                </MudLink>
            </div>
        </div>
    </section>

    <div class="footer text-center">
        <p>All rights reserved © 2024 </p>
    </div>

</div>
