
<div class="footer-body">


    <!-- Footer  -->


    <section class="curved-section">
        <img src="Imgs/download.jpeg" alt="Stadium Background">
        <div class="content">
            <div class="logo">
       
               
                <img src="logos/logo.svg" class="mud-image object-fill object-center" style="height:35px;width:auto;position:relative">
            </div>
            <div class="description">
                بيع تذاكر المباريات والحفلات وتنظيم الفعاليات نقدم لعملائنا تجارب لا تُنسى من خلال تذاكر حصرية لأفضل الأحداث الرياضية والموسيقية والفنية
            </div>
            <div class="social-icons">
                <MudLink Href="https://x.com/happyapp_sa?s=11&t=ZonIqtyk9Ofg8V1BAUhbcjvD0260m8biSFlYBDcgPz0" Target="_blank" Underline="Underline.None">
                    <MudIcon Icon="@Icons.Custom.Brands.X" Color="Color.Inherit"/>
                </MudLink>
                <MudLink Href="https://www.facebook.com/share/sXgYFPjVskHr1wfq/?mibextid=LQQJ4d" Target="_blank" Underline="Underline.None">
                    <MudIcon Icon="@Icons.Custom.Brands.Facebook" />
                </MudLink>
                <MudLink Href="https://www.instagram.com/happyapp.sa?igsh=N3dyOHBjMHdkMXR1" Target="_blank" Underline="Underline.None">
                    <MudIcon Icon="@Icons.Custom.Brands.Instagram" />
                </MudLink>
                <MudLink Href="@("https://www.tiktok.com/@happyapp.sa?_t=8oz8vidJmyn&_r=1")" Target="_blank" Underline="Underline.None">
                    <MudIcon Icon="@Icons.Custom.Brands.TikTok" />
                </MudLink>
                <MudLink Href="@("mailto:Happy@ticketshappy.com")" Target="_blank" Underline="Underline.None">
                    <MudIcon Icon="@Icons.Custom.Brands.Gmail" />
                </MudLink>
            </div>
        </div>
    </section>

    <div class="footer text-center">
        <p>All rights reserved © 2024 </p>
    </div>

</div>
