@* @page "/teams"

@inject ICustomSnackbarProvider Snackbar
@inject BITeamService TeamService
@inject NavigationManager NavigationManager
@inject IPopUpService PopUpService
@attribute [Authorize(Policy = "IsAdmin")]

<LanguageTrackProvider OnInitializeEvent="provider => provider.RegisterComponent(this)" />
<PageTitle>@Resource.Teams_All</PageTitle>

<MudTable Items="@TeamsList" Loading="IsLoading"  Class="w-100">
    <ToolBarContent>
        <MudText Typo="Typo.h6">@Resource.Teams_All</MudText>
        <MudSpacer />
        <LoadingButton Variant="Variant.Filled" Color="Color.Primary" Href="/teams/create">@Resource.Team_Create</LoadingButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>@Resource.Logo</MudTh>
        <MudTh>@Resource.Name</MudTh>
        <MudTh>@Resource.Sponsors</MudTh>
        <MudTh>@Resource.Description</MudTh>
        <MudTh>@Resource.TheActions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd Class="justify-content-center">
            <img src="@(new Uri(new Uri(UrlHelper.GetAPIBase()), context?.Logo))" class="team-logo" style="width: 70px;" />
        </MudTd>
        <MudTd Class="justify-content-center text-nowrap">@context.Name</MudTd>
        <MudTd Class="justify-content-center text-nowrap">
            @if (context.TeamSponsors != null) 
            {
                @(string.Join(", ", context.TeamSponsors.Select(ts => ts.Sponsor.Name)))
            }
        </MudTd>
        <MudTd Class="justify-content-center">@context.Description </MudTd>
        <MudTd Class="justify-content-center">
            <div class="d-flex gap-2 flex-nowrap">
                <MudButton OnClick="@(()=> NavigationManager.NavigateTo($"/teams/update/{@context.Id}"))" Color="Color.Primary" Variant="Variant.Filled">@Resource.Edit</MudButton>
                <MudButton OnClick="@(()=> NavigationManager.NavigateTo($"/teams/details/{@context.Id}"))" Color="Color.Secondary" Variant="Variant.Filled" Class="text-nowrap">@Resource.Details_View</MudButton>
                <MudButton OnClick="@(() => DeleteAsync(context))" Color="Color.Error" Variant="Variant.Filled">@Resource.Delete</MudButton>
            </div>
        </MudTd>
    </RowTemplate>
    <LoadingContent>
        <MudText>@Resource.Loading...</MudText>
    </LoadingContent>
    <NoRecordsContent>
        <MudText>@Resource.NoRecordsFound</MudText>
    </NoRecordsContent>
</MudTable>


@code {
    private List<TeamDto> TeamsList = new();
    private bool IsLoading = false;

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        await LoadTeamsAsync();

        IsLoading = false;
    }

    private async Task LoadTeamsAsync()
    {
        var result = await TeamService.GetTeamsAsync(false);
        result.Match(
            response =>
            {
                if (response.Data != null)
                    TeamsList = response.Data.ToList();

                return Unit.Default;
            },
            ex =>
            {
                Snackbar.Show(Resource.Error_Occurred, Severity.Error);
                return Unit.Default;
            }
        );
    }

    private async Task DeleteAsync(TeamDto team)
    {
        if (await PopUpService.ConfirmDeletionAsync())
        {
            TeamsList.Remove(team);

            var result = await TeamService.DeleteTeamWithNoMatchesAsync(team.Id);
            result.Match(
                response =>
                {
                    if(response.IsSuccess)
                        Snackbar.Show(Resource.Team_Deleted_Successfully, Severity.Success);
                    else
                    {
                        TeamsList.Add(team);
                        Snackbar.Show(Resource.Team_Deletion_Failure, Severity.Error);
                        Snackbar.Show(response.Title, Severity.Error);
                    }
                    return Unit.Default;
                },
                ex =>
                {
                    Snackbar.Show(Resource.Error_Occurred, Severity.Error);
                    return Unit.Default;
                }
            );
        }
    }
}
 *@