@page "/register"
@using System.Text.Json
@using System.ComponentModel.DataAnnotations
@using System.Text.RegularExpressions
@inject IStringLocalizer<Resource> Localizer
@inject ICustomSnackbarProvider Snackbar
@inject IIdentityService IdentityService
@inject ILocalStorageService LocalStorage
@inject NavigationManager Navigation
@inject IDialogService DialogService

<LanguageTrackProvider OnInitializeEvent="provider => provider.RegisterComponent(this)" />

<EditForm Model="registerRequest">
    <DataAnnotationsValidator />
    <MudGrid Justify="Justify.Center" Class="align-center forms-mud-grid">
        <MudItem xs="12" md="6">
            <MudCard>
                <MudCardHeader>
                    <MudText Typo="Typo.h5" Class="mx-auto">@Resource.Register</MudText>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12">
                            <MudTextField @bind-Value="registerRequest.UserName"
                                          Label="@Resource.Username"
                                          For="@(() => registerRequest.UserName)"
                                          Immediate="true"
                                          Required />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField @bind-Value="registerRequest.Email"
                                          Label=@Resource.Email
                                          For="@(() => registerRequest.Email)"
                                          Immediate="true"
                                          Required />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField @bind-Value="registerRequest.Password"
                                          Label=@Resource.Password
                                          For="@(() => registerRequest.Password)"
                                          Immediate="true"
                                          InputType="@passwordInputType"
                                          Adornment="Adornment.End"
                                          AdornmentIcon="@(!string.IsNullOrWhiteSpace(registerRequest.Password) ? passwordIcon : "")"
                                          OnAdornmentClick="@TogglePasswordVisibility"
                                          Required />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField @bind-Value="registerRequest.ConfirmPassword"
                                          Label=@($"{Resource.Confirm} {Resource.Password}")
                                          For="@(() => registerRequest.ConfirmPassword)"
                                          Immediate="true"
                                          InputType="@confirmingPasswordInputType"
                                          Adornment="Adornment.End"
                                          AdornmentIcon="@(!string.IsNullOrWhiteSpace(registerRequest.ConfirmPassword) ? confirmingPasswordIcon : "")"
                                          OnAdornmentClick="@ToggleConfirmingPasswordVisibility"
                                          Required />
                        </MudItem>
                        <MudItem xs="6" md="5">

                            <MudTextField T="string"
                                          Value="@SearchText"
                                          ValueChanged="OnSearchTextChanged"
                                          Label="Search Country"
                                          Immediate="true"
                                          Placeholder="Type to search..." />

                            <MudSelect T="string"
                                       Value="@SelectedCountryPrefix"
                                       ValueChanged="@(new Action<string>(GetSelectedCountryPrefix))"
                                       Label="Select Country Code"
                                       Immediate="true"
                                       Required>
                                @foreach (var country in FilteredCountries)
                                {
                                    <MudSelectItem Value="@country.Prefix" Class="text-nowrap">
                                        <div class="d-flex align-items-center">
                                            <img src="@($"https://upload.wikimedia.org/wikipedia/commons/{country.FlagLinkSegment}")"
                                                 height="20" alt="Flag of @country.Name" class="mr-1" />
                                            <span>@country.Prefix (@country.Name)</span>
                                        </div>
                                    </MudSelectItem>
                                }
                            </MudSelect>

                        </MudItem>
                        <MudItem xs="6" md="7">
                            <MudTextField Value="registerRequest.PhoneNumber"
                                          Label=@Resource.PhoneNumber
                                          For="@(() => registerRequest.PhoneNumber)"
                                          Immediate="true"
                                          ValueChanged="@(new Action<string>(ValidatePhoneNumberFormat))"
                                          Error="@IsPhoneNumberRegexErrorShown"
                                          ErrorText="@Resource.PhoneNumberRegexError"
                                          Required />
                        </MudItem>
                        <MudItem xs="12">
                            <MudCheckBox T="bool" Required="true" RequiredError="@Resource.TermsAndConditionsCheckBoxValidation" @bind-Value="TermsAndConditionsAccepted">
                                @Resource.TermsAndConditionsPartialLabel <MudLink Underline="Underline.Always" Color="Color.Inherit" OnClick="OpenTermsAndConditionsDialogAsync">@Resource.TermsAndConditions</MudLink>
                            </MudCheckBox>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-content-center px-4 pb-4">
                    <LoadingButton OnClick="RegisterUser" Disabled="!IsFormValidToProceedWith()">@Resource.Register</LoadingButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

