@page "/match/edit-ticket-prices/{matchId:guid}"                                                                                                                                                                                
@inject ICustomSnackbarProvider Snackbar
@inject BIMatchService MatchService
@inject BITicketService TicketService
@inject NavigationManager NavigationManager

<LanguageTrackProvider OnInitializeEvent="provider => provider.RegisterComponent(this)" />
<PageTitle>@Resource.Edit @Resource.Match_Tickets</PageTitle>

<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h3" Align="Align.Center">@Resource.Edit @Resource.Match_Tickets</MudText>

        @if (match == null)
        {
            <MudText Typo="Typo.h6" Align="Align.Center">@Resource.Loading</MudText>
        }
        else
        {
            <MudGrid>
                <MudItem xs="12" md="6" Class="d-flex align-items-center justify-content-center">
                    @if (match.TeamA != null)
                    {
                        <div class="text-center">
                            <img src="@(new Uri(new Uri(UrlHelper.GetAPIBase()), match.TeamA?.Logo))" alt="@match.TeamA?.Name" class="team-logo" />
                            <div class="mt-2">@match.TeamA?.Name</div>
                        </div>
                    }
                </MudItem>
                <MudItem xs="12" md="6" Class="d-flex align-items-center justify-content-center">
                    @if (match.TeamB != null)
                    {
                        <div class="text-center">
                            <img src="@(new Uri(new Uri(UrlHelper.GetAPIBase()), match.TeamB?.Logo))" alt="@match.TeamB?.Name" class="team-logo" />
                            <div class="mt-2">@match.TeamB?.Name</div>
                        </div>
                    }
                </MudItem>
            </MudGrid>
            <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="mt-2">@Resource.Stadium: @match.Stadium?.Name</MudText>
            <MudText Typo="Typo.subtitle2" Align="Align.Center" Class="mt-1">@Resource.Match_DateTime: @(match.EventDate?.ToString("dd-MM-yyyy")) @match.EventTime</MudText>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Align="Align.Center">@Resource.Edit @Resource.TicketDetails</MudText>

            <MudForm @ref="form">
                <MudGrid>
                    <MudItem xs="12" md="2">
                        <MudText Typo="Typo.subtitle1" Align="Align.Center">@Resource.Class</MudText>
                    </MudItem>
                    <MudItem xs="12" md="2">
                        <MudText Typo="Typo.subtitle1" Align="Align.Center">@Resource.Price</MudText>
                    </MudItem>
                    <MudItem xs="12" md="2">
                        <MudText Typo="Typo.subtitle1" Align="Align.Center">@Resource.Team</MudText>
                    </MudItem>
                    <MudItem xs="12" md="2">
                        <MudText Typo="Typo.subtitle1" Align="Align.Center">@Resource.SeatNumber</MudText>
                    </MudItem>
                    <MudItem xs="12" md="2">
                        <MudText Typo="Typo.subtitle1" Align="Align.Center">@Resource.Location</MudText>
                    </MudItem>
                    <MudItem xs="12" md="1">
                        <MudText Typo="Typo.subtitle1" Align="Align.Center">@Resource.DoDisplay</MudText>
                    </MudItem>
                    <MudItem xs="12" md="1">
                        <MudText Typo="Typo.subtitle1" Align="Align.Center">@Resource.Actions</MudText>
                    </MudItem>

                    @foreach (var ticket in ticketTemplate)
                    {
                        <MudItem xs="12" md="2">
                            <MudTextField @bind-Value="ticket.Class" Required Label=@Resource.Class Variant="Variant.Text" />
                        </MudItem>
                        <MudItem xs="12" md="2">
                            <MudNumericField @bind-Value="ticket.Price" Required Label=@Resource.Price Variant="Variant.Text" Min="0" Step=".1M" />
                        </MudItem>
                        <MudItem xs="12" md="2">
                            <MudSelect @bind-Value="ticket.TeamId" Required Label=@Resource.Team>
                                <MudSelectItem Value="Guid.Empty" Disabled>@Resource.Team_Select</MudSelectItem>
                                @if (match.TeamA != null)
                                {
                                    <MudSelectItem Value="@match.TeamAId">@match.TeamA.Name</MudSelectItem>
                                }
                                @if (match.TeamB != null)
                                {
                                    <MudSelectItem Value="@match.TeamBId">@match.TeamB.Name</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>

                        <MudItem xs="12" md="2">
                            <MudNumericField @bind-Value="ticket.TicketsCount" Required Label=@Resource.SeatNumber Min="1" Variant="Variant.Text" />
                        </MudItem>
                        <MudItem xs="12" md="2">
                            <MudSelect @bind-Value="ticket.Location" Required Label=@Resource.Location>
                                <MudSelectItem Value=@("VIP")>@Resource.VIP</MudSelectItem>
                                <MudSelectItem Value=@("Grade 1")>@Resource.Grade1</MudSelectItem>
                                <MudSelectItem Value=@("Grade 2")>@Resource.Grade2</MudSelectItem>
                                <MudSelectItem Value=@("Grade 3")>@Resource.Grade3</MudSelectItem>
                                <MudSelectItem Value=@("Guest")>@Resource.Guest</MudSelectItem>
                                <MudSelectItem Value=@("Invitations")>@Resource.Invitation</MudSelectItem>
                                <MudSelectItem Value=@("All")>@Resource.TheAll</MudSelectItem>
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="12" md="1">
                            <MudCheckBox T="bool" @bind-Value="ticket.DisplayForSale" />
                        </MudItem>
                        <MudItem xs="12" md="1" Class="d-flex align-items-center justify-content-center">
                            <MudIconButton Icon="@Icons.Material.Rounded.Delete" Color="Color.Error" OnClick="() => DeleteRow(ticket)" />
                        </MudItem>
                    }

                    <MudItem xs="12" Class="text-center">
                        @* Use LoadingButton only when you have an asynchronous task not with synchronous ones. *@
                        
                        @* <LoadingButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddNewRow" Class="mt-2">@Resource.Add @Resource.NewTicket load</LoadingButton> *@
                        @* <LoadingButton Variant="Variant.Filled" Color="Color.Primary" OnClick=@(() => ticketTemplate.Add(new TicketDto())) Class="mt-2">@Resource.Add @Resource.NewTicket load bad</LoadingButton> *@
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick=@(() => ticketTemplate.Add(new TicketDto())) Class="mt-2">@Resource.Add @Resource.NewTicket</MudButton> 
                    </MudItem>
                </MudGrid>
                <LoadingButton Variant="Variant.Filled" Color="Color.Primary" OnClick="EditTickets" Class="mt-4 w-full">@Resource.Edit @Resource.TheTicket</LoadingButton>
            </MudForm>
        }
    </MudCardContent>
</MudCard>

@code {
    [Parameter] public Guid matchId { get; set; }

    private MatchDto match;
    private List<TicketDto> tickets = new List<TicketDto>();
    private List<TicketDto> ticketTemplate = new();
    private MudForm? form;

    protected override async Task OnInitializedAsync()
    {
        await LoadMatchDetails();
        await LoadTickets();
    }

    private async Task LoadMatchDetails()
    {
        try
        {
            var response = await MatchService.GetMatchByIdAsync(matchId, true);
            _ = response.Match(
                succ =>
                {
                    match = succ.Data ?? new();
                    if (!succ.IsSuccess)
                    {
                        Snackbar.Show(Resource.MatchDetails_Load_Fail, Severity.Error);
                    }
                    Snackbar.Show(succ.Title, succ.IsSuccess ? Severity.Info : Severity.Error);
                    succ.ErrorList?.ToList().ForEach(x => Snackbar.Show($"{x.Title}: {x.Message}", Severity.Error));
                    return new Unit();
                },
                fail =>
                {
                    match = new();
                    Snackbar.Show(Resource.Error_Occurred, Severity.Error);
                    return new Unit();
                }
            );
        }
        catch (Exception ex)
        {
            Snackbar.Show(Resource.Error_Occurred, Severity.Error);
            Console.WriteLine(ex.Message);
        }
    }

    private async Task LoadTickets()
    {
        try
        {
            var response = await TicketService.GetTicketsByMatchIdAsync(matchId,false);
            _ = response.Match(
                succ =>
                {
                    tickets = succ.Data?.ToList() ?? new List<TicketDto>();
                    var templates = tickets.GroupBy(x => new { x.Class, x.Location, x.Price, x.DisplayForSale, x.TeamId });
                    ticketTemplate = templates.Select(x => new TicketDto() { Class = x.Key.Class, Location = x.Key.Location, Price = x.Key.Price, DisplayForSale = x.Key.DisplayForSale, TeamId = x.Key.TeamId, TicketsCount = x.Count() }).ToList();
                    if (!ticketTemplate.Any()) ticketTemplate.Add(new());

                    if (!succ.IsSuccess)
                    {
                        Snackbar.Show(Resource.Tickets_Load_Fail, Severity.Error);
                    }
                    Snackbar.Show(succ.Title, succ.IsSuccess ? Severity.Info : Severity.Error);
                    succ.ErrorList?.ToList().ForEach(x => Snackbar.Show($"{x.Title}: {x.Message}", Severity.Error));
                    return new Unit();
                },
                fail =>
                {
                    Snackbar.Show(Resource.Error_Occurred, Severity.Error);
                    return new Unit();
                }
            );
        }
        catch (Exception ex)
        {
            Snackbar.Show(Resource.Error_Occurred, Severity.Error);
            Console.WriteLine(ex.Message);
        }
    }

    private async Task EditTickets()
    {
        try
        {
            if (form == null) return;
            await form.Validate();

            if (form.IsValid)
            {
                await TicketService.HardDeleteTicketByMatch(matchId);
                var allTickets = new List<TicketDto>();

                foreach (var ticket in ticketTemplate)
                {
                    for (int i = 1; i <= ticket.TicketsCount; i++)
                    {
                        allTickets.Add(new TicketDto
                            {
                                MatchId = matchId,
                                Class = ticket.Class,
                                Price = ticket.Price,
                                TeamId = ticket.TeamId,
                                Location = ticket.Location,
                                DisplayForSale = ticket.DisplayForSale,
                                TicketsCount = i
                            });
                    }
                }

                var response = await TicketService.CreateTicketsAsync(allTickets);
                _ = await response.Match(
                    async succ =>
                    {
                        if (succ.IsSuccess)
                        {
                            Snackbar.Show(Resource.Tickets_Update_Success, Severity.Success);
                            await OnInitializedAsync();
                            StateHasChanged();
                        }
                        else
                        {
                            Snackbar.Show(Resource.Tickets_Update_Fail, Severity.Error);
                        }
                        return new Unit();
                    },
                    async fail =>
                    {
                        await Task.Delay(0);
                        Snackbar.Show(Resource.Error_Occurred, Severity.Error);
                        Console.WriteLine(fail.Message);
                        return new Unit();
                    }
                );
            }
        }
        catch (Exception ex)
        {
            Snackbar.Show(Resource.Error_Occurred, Severity.Error);
            Console.WriteLine(ex.Message);
        }
    }

    private async Task AddNewRow()
    {
        await Task.Delay(1);
        ticketTemplate.Add(new TicketDto());
    }

    private void DeleteRow(TicketDto ticket)
    {
        ticketTemplate = ticketTemplate.Where(x => x != ticket).ToList();
    }
}
